{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Про нас{% endblock %}

{% block content %}
    <ul class="about">
        <h1>Про нас</h1>
        {% csrf_token %}
        <div class="about-us">
            <h6>Ми не втомлюємося розвиватися і рости, постійно розширюючи асортимент для того, щоб максимально задовільнити потреби найбільш вимогливого клієнта:</h6>
                <li>великий вибір <b>вхідних та міжкімнатних дверей</b>;</li>
                <li>виготовлення <b>металопластикових вікон і дверей</b> під замовлення та їх монтаж;</li>
                <li><b>жалюзі, рулонні штори, москітні сітки</b>;</li>
                <li>продаж, установка, сезонне технічне обслуговування <b>кондиціонерів</b>;</li>
                <li>виготовлення та установка <b>кованих парканів</b>;</li>
                <li>продаж, виготовлення і монтаж <b>захисних ролет</b>;</li>
                <li>виготовлення та установка <b>решіток</b> для вікон та дверей;</li>
                <li>точність замірів гарантуємо!</li>
            <br>
                <h5>Наше завдання – тепло, комфорт та затишок у Вашій оселі.</h5>
            <br>
            <br>
                <h3>Наші партнери</h3>
            <br>
                <a href="https://bastion-bc.ua/"><img src="{% static 'main/img/logo_ru-1.png' %}" alt=""></a>
                <a href="http://www.steko.com.ua/"><img src="{% static 'main/img/imgonline-com-ua-Resize-pWZ9N1mm8Fio3.png' %}" alt=""></a>
        </div>
    </ul>
{% endblock %}
